.new-finance {
  background-color: #e7e5df;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  text-align: center;
}

.new-finance button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #393e41;
  background-color: #393e41;
  color: #44bba4;
  border-radius: 12px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  font-weight: bold;
}

.new-finance button:hover,
.new-finance button:active {
  background-color: #e7bb41;
  border-color: #393e41;
  color: #393e41;
}

.new-finance button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.new-finance button.alternative:hover,
.new-finance button.alternative:active {
  background-color: #ddb3f8;
}
